{% load static %}

<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div id="main" style="width: 800px; height:400px;"></div>
    </body>

    <script src="{% static 'js/vendor/echarts.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</html>
